body {
    background-color: rgb(1, 41, 38);
    margin: 0;
}

header {
    background-color: black;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    color: white;
}

canvas {
    border: 4px solid #000000;
    background-color: #cefffc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 5px;
    font-size: 20px;
    width: 100px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

button:disabled {
    background-color: rgb(19, 74, 54);
    color: rgb(154, 154, 154);
}

button:enabled {
    background-color: rgb(32, 138, 101);
}